@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Merriweather" serif;
}

/* Shared-Style */
.text-center{
    text-align: center;

}

/* Banner style */
.banner-container{
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../images/Banner\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 16px;

    /* min-width: 1080px;
    min-height: 495px;
    width: 80%;
    margin: 0 auto;
    border: 2px solid blue;
    margin-top: 50px;
    background-image: url(../images/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.banner-content{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    
    flex-direction: column;
    justify-content: center;
    /* height: 600px; */
    align-items: center;
    padding: 177px 344px 177px 344px;
}

.banner-title{

    font-size: 72px;
    font-weight: 900;
    color: #FFFFFF;
    width: 632px;
    /* height: 100px; */
}

.banner-subtitle{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;

    /* font-size: 32px;
    font-weight: 300;
    color: #FFFFFF;
    width: 200px;
    height: 40px; */
}
/* heading-style-end */

/* main-section-start */
/* Offer-section-start */

.Offer-section{
    box-sizing: border-box;
    max-width: 802.9px;
    min-width: height: 806px;
    margin: 0 auto;
    margin-top: 90px;
}
.offer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer-heading{
    font-size: 88px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;
    margin-bottom: 48px;

}

.Offer-title{
    font-size: 48px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #070211;
    
}


.offer-subtitle{
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #FF0000;
    margin-bottom: 16px;
}

.image-container{
    width: 802.9px;
    height: 500px;
}

/* offer-section-end */

/* midnight-party-section starts */
.midnight-party-container {
    width: 1280px;
    height: 600px;
    width: 90%;
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../images/Vectorrr.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    margin-top: 80px;
    margin-bottom: 100px;
  }
  .leftside-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: start;
  }
  .midnight-heading {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
  }
  .midnight-description {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  #midnight-button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    margin-right: 400px;
    margin-left: 15px;
  }
  .rightside-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightside-content img {
    width: 349.16px;
    height: 464.65px;
  }

  /* midnight-party-section-ends */